@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}


body {
  background-color: #FEAFC3;
  color: #2D3440;
  font-family: "Inter" , sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Ограничение контейнера по ширине и его выравнивание по центру */

.container {
  width: 1170px;
  margin: 0 auto;
}


/* Шапка сайта */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 21px 0;
}

.drop-menu {
  position: relative;
  margin: 0 0 0 16px;
}

.drop-menu:hover .button-catalog,
.drop-menu:focus-within .button-catalog {
  color: #FCFCFC;
  background: url("../images/other/arrow-down-header-menu.svg") #FF4A78 no-repeat;
  background-position: center right 16px;
  opacity: 0.6;
}

.drop-menu:active .button-catalog {
  color: #FCFCFC;
  background: url("../images/other/arrow-down-header-menu.svg") #FF4A78 no-repeat;
  background-position: center right 16px;
  opacity: 0.3;
}

.drop-menu:focus .button-catalog {
  color: #FCFCFC;
  background: url("../images/other/arrow-down-header-menu.svg") #FF4A78 no-repeat;
  background-position: center right 16px;
  border: 2px solid #000000;
  padding: 6px 36px 6px 14px
}

.button-catalog {
  padding:8px 38px 8px 16px;
  background: url("../images/other/arrow-header-menu.svg") no-repeat;
  background-position: center right 16px;
  border-radius: 30px;
}

.drop-menu:active .navigation-catalog,
.drop-menu:focus .navigation-catalog,
.drop-menu:focus-within .navigation-catalog,
.drop-menu:hover .navigation-catalog {
  display: flex;
  flex-direction: column;
  padding: 8px 13px 8px 16px;
  font-size: 14px;
  line-height: 20px;
  width: 135px;
  box-sizing: border-box;
}

.navigation-catalog-item {
  padding: 6px 0 0 0;
}

.navigation-catalog-item-link:not(:first-child):hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-catalog-item-link:not(:first-child):active {
  background: #FCFCFC;
}

.navigation-catalog-item-link:not(:first-child):focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  box-sizing: border-box;
  padding: 6px 14px;
}

.catalog-decoration {
  padding-bottom: 12px;
  border-bottom: 1px solid #B9B9B9;
}

.navigation-catalog {
  display: none;
  position: absolute;
  top: 38px;
  margin: 0;
  width: 135px;
  border-radius: 4px;
  background: #FCFCFC;
}

.button:last-child {
  margin: 0 8px 0 0;
}

.navigation {
  align-items: center;
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.button-number {
  font-weight: 700;
  margin: 0 16px 0 0;
  line-height: 20px;
}

.button-search {
  display: flex;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  height: 32px;
  width: 32px;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}

.button-search:hover .search-form,
.button-search:focus-within .search-form  {
  display: block;
}

.button-search:hover,
.button-input:hover,
.button-backet:hover {
  background: rgba(252, 252, 252, 0.5);
}

.button-search:active,
.button-input:active,
.button-backet:active {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.button-search:active {
  padding: 6px;
}

.button-input:active,
.button-backet:active {
  padding: 4px 14px;
}

.button-search:focus,
.button-input:focus,
.button-backet:focus {
  background: #FCFCFC;
}

.search-form {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 24px 16px;
  background: #FCFCFC;
  border-radius: 4px;
  width: 356px;
  box-sizing: border-box;
}

.search-form input {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 14px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}


.button-input, .button-backet {
  padding: 6px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 16px;
  position: relative;
}

.button-backet {
  position: relative;
}

.backet-box {
  display: none;
  position: absolute;
  background: #FCFCFC;
  border-radius: 4px;
  top: 40px;
  right: 0;
  box-sizing: border-box;
  padding: 48px 0;
  min-width: 288px;
  max-width: 441px;
  z-index: 2;
}

.backet-box-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.backet-box-content {
  padding: 0 48px;
}

.backet-box-content-title {
  font-size: 24px;
  font-synthesis: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.backet-box-content-list {
  padding: 0 0 32px 0;
  border-bottom: 1px solid #E7E7E7;
  margin: 32px 0 0 0;
}

.backet-box-content-list-item:not(:last-child) {
  margin: 0 0 24px 0;
}

.backet-box-content-list-item {
  display: flex;
  align-items: center;
  width: 345px;
}

.backet-box-content-description {
  margin: 0 0 0 16px;
}

.backet-box-content-description-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.backet-box-content-description-other {
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.backet-box-content-price {
  font-size: 18px;
  font-weight: 700;
  margin: 0 52px 0 auto;
}

.backet-box-content-footer {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0 0;
  align-items: center;
}

.backet-box-content-button-buy {
  background: #FF2F64;
  padding: 12px 0;
  border: 1px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  line-height: 20px;
  font-weight: 700;
  box-sizing: border-box;
  width: 198px;
}

.backet-box-content-button-closed {
  border: none;
  background: url("../images/other/сross.png") no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.backet-box-content-footer-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.button-backet:hover .backet-box,
.button-backet:focus-within .backet-box {
  display: block;
}

.button-input:hover .input-form,
.button-input:focus-within .input-form {
  display: flex;
}

.input-form {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  flex-direction: column;
  background: #FCFCFC;
  padding: 48px;
  padding-bottom: 52px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 420px;
  z-index: 1;
}

.input-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 32px 0;
}

.input-form input {
  width: 324px;
  padding: 14px 16px;
  box-sizing: border-box;
}

.input-form input[type="email"] {
  margin: 0 0 16px 0;
}

.input-form input[type="submit"] {
  font-weight: 700;
  line-height: 20px;
  padding: 12px 32px;
  color: #FCFCFC;
  background: #FF2F64;
  border: 1px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 113px;
  box-sizing: border-box;
}

.input-form-footer {
  display: flex;
  margin: 16px 0 0 0;
}

.input-form-list {
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 0 23px;
}

.input-form-list li {
  display: inline-block;
  border-bottom: 1px solid #2D3440;
}

.button-link-icon-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link-icon-position :first-child {
  margin: 0 6px 0 0;
}

.navigation-catalog-item-link {
  text-decoration: none;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 16px;
  display: block;
  border-radius: 30px;
}

/* Блок с слайдерами */
.slider {
  position: relative;
}

.slider-block {
  margin: 20px 0 0 0;
  display: flex;
}

.slider-button {
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50px;
  cursor: pointer;
  color: #FCFCFC;
}

.slider-button-prev {
  position: absolute;
  top: 235px;
  left: 542px;
}

.slider-button-next {
  position: absolute;
  top: 235px;
  right: 278px;
  transform: rotate(180deg);
}

.slider-text {
  display: flex;
  width: 470px;
  padding: 0;
  margin: 0;
}

.slider-item {
  display: flex;
  align-items: center;
}

.slide-text {
  display: flex;
  flex-direction: column;
  width: 542px;
  padding: 0 0 0 70px;
  box-sizing: border-box;
}

.slider-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
}

.slider-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 24px 0 48px 0;
}

.slider-button-buy {
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px #ffcbd8;
  font-family: "Inter" , sans-serif;
  font-size: 16px;
  padding: 8px 28px;
  border-radius: 26px;
  line-height: 20px;
  font-weight: 700;
  width: 139px;
}

.slider-button-buy:hover {
  background: rgba(252, 252, 252, 0.4);
}

.slider-button-buy:active {
  border-color: #2D3440;
}

.slider-button-buy:focus {
  background: rgba(252, 252, 252, 0.4);
  border-color: #2D3440;
}

.disable {
  background: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
}

.slider-images-list {
  display: flex;
  align-items: center;
  margin: 16px 0 0 21px;
  padding: 0;
}

.slider-image {
  display: block;
  width: 66px;
  height: 150px;
  object-fit: cover;
  opacity: 0.4;
}

.slider-image-current {
  height: 507px;
  width: 306px;
  opacity: 1;
  margin: 0 0 0 20px;
}

.next {
  margin: 0 0 0 80px;
}

.prev {
  margin: 0 0 0 70px;
}


.substrate {
  position: absolute;
  background: #FFCBD8;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  top: 25px;
  left: -17px;
  z-index: -1;
  opacity: 0.4;
}

.current .substrate {
  width: 312px;
  height: 312px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  margin: 0 0 0 14px;
}

.slider-image-substrate {
  position: relative;
}

.slider-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slider-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-list-item {
  background: #FCFCFC;
  border-radius: 100%;
  height: 12px;
  width: 12px;
  text-overflow: none;
}

.slider-list :not(:last-child) {
  margin: 0 8px 0 0;
}

/* Второй блок с подарками */

.gift-card {
  margin: 82px 0 0 0;
}

.gift-card-block {
  display: flex;
  justify-content: space-between;
  margin: 55px 0 0 0;
}

.gift-title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 auto;
  width: 434px;
}

.gift-card-item {
  background: #FF7799;
  border-radius: 16px;
  width: 570px;
  padding: 36px;
  box-sizing: border-box;
}

.card-raspberry {
  background: url("../images/raspbery.png") no-repeat;
  background-color: #FF7799;
  background-position: right;
  background-size: 39%;
}

.card-marshmallow {
  background: url("../images/marshmallow.png") no-repeat;
  background-color: #FF7799;
  background-position: right;
  background-size: 39%;
}

.gift-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.gift-card-description {
  font-weight: 400;
  width: 328px;
  margin: 28px 0 0 0;
}

.button-gift {
  display: inline-block;
  margin: 28px 0 0 0;
  background: #FCFCFC;
  padding: 12px 32px;
  border-radius: 26px;
  font-weight: 700;
  line-height: 20px;
}

/* Третий блок с предложениями */

.offer-cards-main {
  margin: 80px 0 0 0;
}

.offer-cards-title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 527px;
  margin: 0 auto;
}

.offer-list {
  margin: 107px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.offer-item {
  position: relative;
  text-align: center;
  background: #FCFCFC;
  border-radius: 8px;
  width: 270px;
  padding: 0 40px 24px 40px;
  box-sizing: border-box;
}

.offer-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 133px 0 0 0;
}

.offer-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.offer-description {
  font-weight: 400;
  margin: 8px 0 0 0;
}

.offer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 0 0;
}

.offer-button-buy {
  width: 32px;
  height: 32px;
  border-radius: 26px;
  background-color: #FF2F64;
  padding: 8px;
  box-sizing: border-box;
}

.offer-img {
  position: absolute;
  border-radius: 50%;
  top: -49px;
  left: 50px;
}

.offer-basket {
  fill: white;
}

/* Четвертый блок о компании */

.block-about {
  display: flex;
  background: url("../images/background/background-wafer.jpg") #FFE4B5;
  background-color: #FFE4B5;
  border-radius: 16px;
  margin: 80px 0 0 0;
}

.about {
  background: #FFFFFF;
  text-align: center;
  border-radius: 16px;
  margin: 24px;
  padding: 56px 40px;
  box-sizing: border-box;
}

.about-list {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 40px 34px;
  margin: 56px 0 0;
  padding: 0;
}

.about-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
}

.about-description {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
}

.about-description-text {
  text-align: left;
  margin: 0 0 0 16px;
}

/* Блок с новостным блогом*/

.other {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.other-list {
  padding: 0;
}

.other-item-blog {
  width: 570px;
  background: url(../images/background/background-blog.jpg) no-repeat;
  background-color:  #FCFCFC;
  background-size: 112%;
  border-radius: 16px;
  background-position: left;
}

.blog-title {
  display: block;
  color: #565C66;
  font-weight: 400;
  line-height: 20px;
  width: 170px;
  margin: 32px 0 0 32px;
}

.blog-description {
  display: block;
  width: 303px;
  margin: 12px 0 0 32px;
}

.blog-description-link {
  text-decoration: none;
  color: #2D3440;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.other-item-description {
  display: flex;
  height: 224px;
  width: 570px;
  background: url("../images/background/background-mail.jpg");
  background-color: #1E90FF;
  border-radius: 16px;
}

.description-block {
  margin: 6px;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
  color: #565C66;
}

.subscription-description {
  margin: 0;
  font-weight: 400;
}

.subscription-form {
  margin: 44px 0 0;
  display: flex;
  justify-content: space-between;
}

.subscription-form-input {
  padding: 14px 16px;
  width: 332px;
  border: 1px solid #B9B9B9;
  box-sizing: border-box;
  line-height: 20px;
}

.subscription-form-button {
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  font-size: 16px;
  padding: 8px 33px;
}

.visually-hidden {
  display: none
}

/* Блок доставки */

.delivery {
  display: flex;
  justify-content: space-between;
  background: url(../images/background/background-delivery.jpg) no-repeat;
  background-color: #FCFCFC;
  background-size: 105%;
  padding: 64px 64px 64px 100px;
  border-radius: 16px;
  background-position: left;
  margin: 80px 0 0 0;
}


.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 356px;
  margin: 103px 0 0 0;
}

.delivery-description {
  color: #565C66;
  width: 371px;
  margin: 24px 0 0 0;
}

.delivery-form {
  background: #FCFCFC;
  border-radius: 8px;
  width: 500px;
  padding: 40px;
  box-sizing: border-box;
}

.delivery-form-description {
  margin: 0;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 287px;
  grid-gap: 18px 15px;
  margin: 32px 0 0 0;
}

.appointment-addres {
  grid-column: 1 / -1;
}

.appointment-button {
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  grid-column: 1 / -1;
  margin: 14px auto 0;
  color: #FCFCFC;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 28px;
  font-size: 16px;
}

.form-label {
  line-height: 20px;
  font-weight: 700;
  margin: 0 0 9px 0;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.field-group input {
  padding: 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.delivery-data {
  position: relative;
}

.button-data-clue {
  position: absolute;
  margin: 4px 0 0 4px;
  width: 14px;
  height: 14px;
  background: url(../images/other/info.png) no-repeat;
  border: none;
  border-radius: 20px;
}

.clue {
  position: absolute;
  top: -12px;
  left: 22px;
  padding: 9px 8px;
  width: 163px;
  color: #565C66;
  background-color: #FCFCFC;
  border: 1px solid #565C66;
  border-radius: 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  z-index: 1;
  display: none;
}

.clue::before {
  position: absolute;
  content: "";
  top: 12px;
  left: -6px;
  width: 10px;
  height: 10px;
  border: 1px solid #565C66;
  background-color: #FCFCFC;
  transform: rotate(45deg);
  border-top: none;
  border-right: none;
}

.button-data-clue:hover .clue {
  display: block;
}


/* Блок с адресом и контактными данными */

.info {
  background: url("../images/background/background-info.jpg") no-repeat;
  background-color: #FCFCFC;
  background-size: 100%;
  border-radius: 16px;
  background-position: left;
  margin: 80px 0 0 0;
  padding: 64px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 343px;
  background-color: #FCFCFC;
  border-radius: 8px;
  padding: 40px;
  box-sizing: border-box;
}

.info-description {
  color: #565C66;
  font-weight: 400;
  width: 179px;
  margin: 0;
}

.info-addres {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  margin: 15px 0 0 0;
  width: 263px;
}

.info-description-number {
  color: #565C66;
  font-weight: 400;
  width: 203px;
  margin: 24px 0 0 0;
}

.info-number {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  margin: 12px 0 0 0;
}

.info-description-time {
  line-height: 20px;
  color: #565C66;
  font-weight: 400;
  width: 160px;
  font-size: 14px;
  margin: 0;
}

.info-description-button {
  margin: 35px 0 0 0;
  padding: 8px 29px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 250px;
}

/* Подвал */

.main-footer {
  display: flex;
  height: 153px;
  padding: 47px 0 0 5px;
}

.social-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-navigation-list :not(:last-child){
  margin: 0 16px 0 0;
}

.social-navigation-item {
  border-radius: 24px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.footer-menu {
  margin: 0 0 0 323px;
}

.footer-menu-list {
  display: grid;
  grid-template-columns: 126px 182px;
  grid-template-rows: auto auto;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  gap: 8px 24px;
}

.footer-menu-list .footer-menu-item:first-child {
  position: relative;
  font-weight: 700;
}

.heart {
  position: absolute;
  top: 3px;
  left: -23px;
}

.footer-menu-item-link {
  text-decoration: none;
  color: #2D3440;
  line-height: 20px;
}

.copyright {
  margin-left: auto;
  margin-right: 14px;
}

.copyright-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin:  7px 0 0 0;
}

.catalog-navigation-item-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

/* Блок списка с мороженым в каталоге */

.offer-cards {
  margin: 0 auto;
  text-align: center;
}

.ice-cream-list-item {
  text-align: center;
  background: #FCFCFC;
  border-radius: 8px;
  height: 281px;
  width: 270px;
}

.ice-cream-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 90px 30px;
  margin: 95px 0 0 0;
  padding: 0;
}

/* Навигация каталога */

.catalog-navigation-list {
  display: flex;
  margin: 25px 0 0 0;
  padding: 0;
}

.catalog-navigation-item:not(:last-child):after {
  margin: 0 10px 0 5px;
  content: "\00BB";
}

.catalog-navigation-item:last-child {
  border-bottom: 1px solid #2D3440;
}

/* Фильтр каталога*/

.catalog-filter {
  margin: 16px 0 0 0;
}

.catalog-filter-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.sorting-item {
  padding: 10px 29px 10px 16px;
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  border: none;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.3) url(../images/other/arrow-header-menu.svg) right 13px center no-repeat;
  appearance: none;
}

.catalog-filter-form-group-title {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 8px 16px;
}

.catalog-filter-form {
  display: grid;
  grid-template-columns: 196px 196px 383px;
  grid-gap: 16px;
  margin: 40px 0 0 0;
}

.catalog-filter-form-group {
  display: flex;
  flex-direction: column;
}

.catalog-filter-form-group-filles {
  grid-column: 1 / -1;
}

.fat-group,
.filles-group {
  display: flex;
}

.filter-button {
  margin: 0 0 0 16px;
}

/* Пагинация каталока */

.catalog-pagination {
  position: relative;
  display: flex;
  justify-content: end;
  margin: 57px 0 0 0;
  padding: 0 0 88px 0;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination-button {
  position: absolute;
  left: 490px;
  top: 0;
  background: #FCFCFC;
  display: inline-block;
  margin: 0 335px 0 0;
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px
}

.pagination {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
}

.pagination-item {
  height: 24px;
  width: 24px;
  border-radius: 50px;
}

.pagination-current {
  background: #FCFCFC;
}

/* Модальное окно*/

.modal-window {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(45, 52, 64, 0.3);
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form {
  position: relative;
  background: #FCFCFC;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 64px;
  border-radius: 8px;
}

.modal-form-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 32px 0;
}

.modal-form-area {
  margin: 16px 0 0 0;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 16px;
}

.modal-form input {
  width: 442px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 16px;
}

.modal-form input:not(:first-child) {
  margin: 16px 0 0 0;
}

.modal-button-send {
  padding: 12px 32px;
  margin: 32px 0 0 auto;
  background: #FF2F64;
  border: 1px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #FCFCFC;
  line-height: 20px;
  font-weight: 700;
  width: 152px;
}

.modal-window-close {
  display: none;
}

.modal-button-close {
  position: absolute;
  top: 32px;
  right: 32px;
  border: none;
  background: url("../images/other/сross.png") no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
